body {
  background: url('bg.png') no-repeat center center fixed;
-webkit-background-size: cover;
background-size: 100% 100%;

text-align: center;


}
.box {
  height: 20em;
  width: 20em;
background: #fff;

  border-radius: 10px;
  position: relative;
  text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.container {
  min-height: 100vh;
  display: flex;
    justify-content: center;
  align-items: center;


}

/* STRIP1 */
.strip1{
  background: #941c4c;
  text-align: left;
  padding: 0.3rem;
}
.logo {
  height: 3rem;
  width: 10rem;

}
/* STRIP1 END */

/* STRIP2 */
.strip2{

  padding: 0.5rem 0.5rem 0.1rem;
  /* padding-bottom: 0; */
  color: #941c4c;
}

/* STRIP2 END */

/* STRIP3 */
.strip3{


  background: 	#fffdd0;
}
.strip3-inner{

  margin-top: 5rem;
  margin-bottom: 2rem;
  /* padding-bottom: 0; */
  background: red;
}

/* STRIP3 END */
