/* Html Elements */
body {
  scroll-behavior: smooth;
  font-family: 'PT Serif', serif;
  /* font-family: 'Cookie', cursive; */


}
h1 {
  text-align: center;
  color: #fff;
}
h2, h3 {
  color: #fff;

}
h3 {
  font-size: 1.5rem;
}
hr {
  background-color: #fff;
  border-style: dotted none none;
  border-color: grey;
  border-width: 6px;
  height: 0;
  width: 6%;
}





/* Class Elements */

/* Id Elements */
.jumbotron {
  background: linear-gradient(rgba(69, 162, 71,0),rgba(0, 40, 60, 0)),url(bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  /* margin-top: 3rem; */
  padding: 9% 12%;
  text-align: center;
}
.jhead , .jpara {
  color: #fff;
  /* text-align: center; */

}
.jhead {
  font-size: 5rem;
  font-family: 'Cookie', cursive;
}
.jpara {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Kaushan Script', cursive;
}
.box {
  height: 100px;
  width: 200px;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
.container {
  min-height: 100vh;
  display: flex;
    justify-content: center;
  align-items: center;
}
